.dark-medium-contrast {
  --md-sys-color-primary: rgb(255 212 181);
  --md-sys-color-surface-tint: rgb(255 183 126);
  --md-sys-color-on-primary: rgb(62 29 0);
  --md-sys-color-primary-container: rgb(196 130 75);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(250 213 187);
  --md-sys-color-on-secondary: rgb(54 33 16);
  --md-sys-color-secondary-container: rgb(170 138 115);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(219 225 170);
  --md-sys-color-on-tertiary: rgb(36 40 4);
  --md-sys-color-tertiary-container: rgb(143 149 100);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(25 18 12);
  --md-sys-color-on-background: rgb(239 223 214);
  --md-sys-color-surface: rgb(25 18 12);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(81 68 59);
  --md-sys-color-on-surface-variant: rgb(237 217 204);
  --md-sys-color-outline: rgb(193 174 162);
  --md-sys-color-outline-variant: rgb(158 141 130);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(239 223 214);
  --md-sys-color-inverse-on-surface: rgb(49 40 34);
  --md-sys-color-inverse-primary: rgb(110 59 8);
  --md-sys-color-primary-fixed: rgb(255 220 195);
  --md-sys-color-on-primary-fixed: rgb(32 12 0);
  --md-sys-color-primary-fixed-dim: rgb(255 183 126);
  --md-sys-color-on-primary-fixed-variant: rgb(86 43 0);
  --md-sys-color-secondary-fixed: rgb(255 220 195);
  --md-sys-color-on-secondary-fixed: rgb(30 13 2);
  --md-sys-color-secondary-fixed-dim: rgb(227 192 166);
  --md-sys-color-on-secondary-fixed-variant: rgb(72 49 31);
  --md-sys-color-tertiary-fixed: rgb(225 231 176);
  --md-sys-color-on-tertiary-fixed: rgb(16 19 0);
  --md-sys-color-tertiary-fixed-dim: rgb(197 203 150);
  --md-sys-color-on-tertiary-fixed-variant: rgb(52 57 18);
  --md-sys-color-surface-dim: rgb(25 18 12);
  --md-sys-color-surface-bright: rgb(77 67 60);
  --md-sys-color-surface-container-lowest: rgb(12 6 3);
  --md-sys-color-surface-container-low: rgb(36 28 22);
  --md-sys-color-surface-container: rgb(47 38 32);
  --md-sys-color-surface-container-high: rgb(58 49 42);
  --md-sys-color-surface-container-highest: rgb(69 60 53);
}
