.dark {
  --md-sys-color-primary: 255 183 126;
  --md-sys-color-surface-tint: 255 183 126;
  --md-sys-color-on-primary: 77 38 0;
  --md-sys-color-primary-container: 108 58 7;
  --md-sys-color-on-primary-container: 255 220 195;
  --md-sys-color-secondary: 227 192 166;
  --md-sys-color-on-secondary: 66 44 26;
  --md-sys-color-secondary-container: 90 66 46;
  --md-sys-color-on-secondary-container: 255 220 195;
  --md-sys-color-tertiary: 197 203 150;
  --md-sys-color-on-tertiary: 46 51 12;
  --md-sys-color-tertiary-container: 69 74 33;
  --md-sys-color-on-tertiary-container: 225 231 176;
  --md-sys-color-error: 255 180 171;
  --md-sys-color-on-error: 105 0 5;
  --md-sys-color-error-container: 147 0 10;
  --md-sys-color-on-error-container: 255 218 214;
  --md-sys-color-background: 25 18 12;
  --md-sys-color-on-background: 239 223 214;
  --md-sys-color-surface: 25 18 12;
  --md-sys-color-on-surface: 239 223 214;
  --md-sys-color-surface-variant: 81 68 59;
  --md-sys-color-on-surface-variant: 214 195 182;
  --md-sys-color-outline: 158 142 130;
  --md-sys-color-outline-variant: 81 68 59;
  --md-sys-color-shadow: 0 0 0;
  --md-sys-color-scrim: 0 0 0;
  --md-sys-color-inverse-surface: 239 223 214;
  --md-sys-color-inverse-on-surface: 56 47 40;
  --md-sys-color-inverse-primary: 137 81 30;
  --md-sys-color-primary-fixed: 255 220 195;
  --md-sys-color-on-primary-fixed: 47 21 0;
  --md-sys-color-primary-fixed-dim: 255 183 126;
  --md-sys-color-on-primary-fixed-variant: 108 58 7;
  --md-sys-color-secondary-fixed: 255 220 195;
  --md-sys-color-on-secondary-fixed: 42 23 7;
  --md-sys-color-secondary-fixed-dim: 227 192 166;
  --md-sys-color-on-secondary-fixed-variant: 90 66 46;
  --md-sys-color-tertiary-fixed: 225 231 176;
  --md-sys-color-on-tertiary-fixed: 26 30 0;
  --md-sys-color-tertiary-fixed-dim: 197 203 150;
  --md-sys-color-on-tertiary-fixed-variant: 69 74 33;
  --md-sys-color-surface-dim: 25 18 12;
  --md-sys-color-surface-bright: 65 55 49;
  --md-sys-color-surface-container-lowest: 20 13 8;
  --md-sys-color-surface-container-low: 34 26 20;
  --md-sys-color-surface-container: 38 30 24;
  --md-sys-color-surface-container-high: 49 40 34;
  --md-sys-color-surface-container-highest: 60 51 44;
}
