.light {
  --md-sys-color-primary: 137 81 30;
  --md-sys-color-surface-tint: 137 81 30;
  --md-sys-color-on-primary: 255 255 255;
  --md-sys-color-primary-container: 255 220 195;
  --md-sys-color-on-primary-container: 108 58 7;
  --md-sys-color-secondary: 116 89 68;
  --md-sys-color-on-secondary: 255 255 255;
  --md-sys-color-secondary-container: 255 220 195;
  --md-sys-color-on-secondary-container: 90 66 46;
  --md-sys-color-tertiary: 92 98 54;
  --md-sys-color-on-tertiary: 255 255 255;
  --md-sys-color-tertiary-container: 225 231 176;
  --md-sys-color-on-tertiary-container: 69 74 33;
  --md-sys-color-error: 186 26 26;
  --md-sys-color-on-error: 255 255 255;
  --md-sys-color-error-container: 255 218 214;
  --md-sys-color-on-error-container: 147 0 10;
  --md-sys-color-background: 255 248 245;
  --md-sys-color-on-background: 34 26 20;
  --md-sys-color-surface: 255 248 245;
  --md-sys-color-on-surface: 34 26 20;
  --md-sys-color-surface-variant: 243 223 210;
  --md-sys-color-on-surface-variant: 81 68 59;
  --md-sys-color-outline: 132 116 105;
  --md-sys-color-outline-variant: 214 195 182;
  --md-sys-color-shadow: 0 0 0;
  --md-sys-color-scrim: 0 0 0;
  --md-sys-color-inverse-surface: 56 47 40;
  --md-sys-color-inverse-on-surface: 254 238 228;
  --md-sys-color-inverse-primary: 255 183 126;
  --md-sys-color-primary-fixed: 255 220 195;
  --md-sys-color-on-primary-fixed: 47 21 0;
  --md-sys-color-primary-fixed-dim: 255 183 126;
  --md-sys-color-on-primary-fixed-variant: 108 58 7;
  --md-sys-color-secondary-fixed: 255 220 195;
  --md-sys-color-on-secondary-fixed: 42 23 7;
  --md-sys-color-secondary-fixed-dim: 227 192 166;
  --md-sys-color-on-secondary-fixed-variant: 90 66 46;
  --md-sys-color-tertiary-fixed: 225 231 176;
  --md-sys-color-on-tertiary-fixed: 26 30 0;
  --md-sys-color-tertiary-fixed-dim: 197 203 150;
  --md-sys-color-on-tertiary-fixed-variant: 69 74 33;
  --md-sys-color-surface-dim: 231 215 206;
  --md-sys-color-surface-bright: 255 248 245;
  --md-sys-color-surface-container-lowest: 255 255 255;
  --md-sys-color-surface-container-low: 255 241 233;
  --md-sys-color-surface-container: 251 235 225;
  --md-sys-color-surface-container-high: 245 229 219;
  --md-sys-color-surface-container-highest: 239 223 214;
}
